@import '_variables';

body {
	margin: 0; 
	font-size: 18px;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

%remove-margins {
	margin: 0;
}

h1, h3, h4, h5, h6, p {
	@extend %remove-margins;
}

h2 {
	@extend %remove-margins;
	font-size: 36px;
	font-weight: 800;
	
	&.heading {	
		margin-bottom: 40px;
	}
}

section {
	.container {
		width: 1200px;
		max-width: 90%;
		margin: 0 auto;
	}
	
	&.black {
		background-color: $background-color1;
		color: white;
	}
	
	&.pink {
		background-color: $background-color2;
		color: white;
	}

	&.padded {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	
	&.hero {
	  width: 100%;
	  height: 100vh;
	  display: flex;
	  align-items: center;
	  
	  h1 {
		font-size: 80px;
		max-width: 66%;
		font-weight: 800;
		margin-bottom: 20px;
	  }
	  
	  .highlight {
		color: $background-color2;
	  }
	}
	
	&.navbar {
		padding: 20px 0px;
		background-color: #fff;
		position: fixed;
		width: 100%;
		
		.row {
			display: flex;
			justify-content: space-between;
		}
		
		a {
			font-weight: bold;
			color: black;
			text-decoration: none;
		}
		
		.links {
			a {
				margin-left: 20px;
				opacity: .4;
				
				&:hover {
					opacity: 1;
				}
			}
		}
		
	}
	
	&.intro {
		p {
			margin-bottom: 20px;
		}
	}
	
	&.footer {
		a {
			i {
				font-size: 30px;
				margin-right: 20px;
				color: $background-color2;
			}
		
		}
	}
	
}

a {
	&.button {
	  background-color: $background-color2;
	  font-weight: bold;
	  color: white;
	  padding: 12px 24px;
	  text-decoration: none;
	  border-radius: 50px;
	  transition: ease all .3s;
	  
	  &:hover {
		-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
		box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
	  }
	}
}

.row {
  display: flex;
}
.column-small {
  width: 34%;
}
.column-med {
  width: 50%;
}
.column-large {
  width: 66%;
  padding-left: 40px;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.column {
  padding: 0px 15px;
}
.column:first-child {
  margin-left: -15px;
}
.column:last-child {
  margin-right: -15px;
}
