

body
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #ff7bac;
}

hr.light {
  border-color: #fff;
}

a {
  color: #00ffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #00ffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #131313 !important;
}

.bg-dark {
  background-color: #2d2d2d !important;
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

.text-faded {
  color:  #999999;
}

img {

  width:10%;
}


.footer {
    height:50%;
    padding-bottom: 5rem;
    background-color:#111;
    color:white;
    text-align:center;
    background-image: url("Background.png");
}

.changeColor {
  background: white;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #2d2d2d;
  font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #ff7bac;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #00ffff;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d2d2d;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #ff7bac;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #ff7bac !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}


@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent; //
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }

  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #ff7bac;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color:#ff7bac;
  }

    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #2d2d2d;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #ff7bac;
  }

}

header.masthead {
  padding-top: 10rem;
  padding-bottom: 3.5rem;
  background-image: url("Background.png");
  width:100%;
  background-position: center center;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}


@media (max-width: 575.98px){
    html{
        font-size:55%
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    html{
        font-size:58%
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    html{
        font-size:60%
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    html{
        font-size:62.5%
    }
}
@media (min-width: 1200px){
    html{
        font-size:100%
    }
}

.text-primary {
  color: #ff7bac !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

